$darkColor: #211638;
$mediumColor: #442e72;
$lightColor: #7359a6;
$headingColor: #2f4575;
$linkColor: #2984ff;
$bodyColor: #313131;
$pinkColor: #c31d8a;
$frontEndFont: 'motiva-sans', Arial, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap');

$robotoFont: 'Roboto', Arial, sans-serif;
@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?5809492');
    src: url('font/fontello.eot?5809492#iefix') format('embedded-opentype'),
         url('font/fontello.woff?5809492') format('woff'),
         url('font/fontello.ttf?5809492') format('truetype'),
         url('font/fontello.svg?5809492#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
   
.demo-icon
  {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
.hover_dark{
    transition: 0.3s all;
}
.hover_dark:hover{
    background: #000;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
}
.hover_dark:hover>img{
    opacity: 0.7;
}

.mosaic_img{
    background: url('../assets/mosaic_loader.gif') no-repeat top center;
    background-size: contain;
    min-height: 100px;
    border: 1px solid #eee;
}

.mosaic_img:hover{
    box-shadow:0 0 0 5px $lightColor;
}

.mosaic_img+div>strong{
    font-size: 1.3rem;
    color: $lightColor;
}

.uploadedThumbs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.uploadedThumbs .uploadedThumb{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.uploadedThumbs .uploadedThumb .overControls{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.uploadedThumbs .uploadedThumb:hover .overControls{
    display: flex;
}
.uploadedThumbs .uploadedThumb{
    flex-basis: calc(25% - 10px);
    margin: 5px;
    height: 80px;
    position: relative;
}

.uploadedThumbs .uploadedThumb img{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
.global_loader{
    position: fixed;
    background: rgba(0,0,0,0.3);
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 100%;
}
.admin-panel, html{
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
}

.admin-panel header{
    background: $mediumColor;
}

.topBar{
    display: flex;
    padding: 10px 20px;
    align-items: stretch;
    justify-content: space-between;
}

.admin-panel .topBar>div:last-child{
    @media (min-width:992px){
        margin-right: 30px;
    }

    .login_menu>a, .btn.dropdown-toggle.btn-secondary{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        padding-right: 20px;
        outline: none;
        border: none;
        box-shadow: none;
    }

    .btn.dropdown-toggle.btn-secondary + ul.show{
        animation: slideIn 0.3s;
    }

    .dropdown-menu a{
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    .dropdown-menu{
        padding: 0;
        border-radius: 0px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    }

   .dropdown-item:hover,.dropdown-item:active,.dropdown-item:focus{
        background: $lightColor;
        color: #fff;
    }

   .dropdown-toggle::after{
        display: none;
        
    }

   .dropdown-toggle{
        background: url('../assets/down_arrow.png') no-repeat center right;
    }
}

%trans {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
}

.admin-panel nav{
    min-width: 262px;
    background: $darkColor;
    color: #fff;
    max-height: 100%;
    height: auto;
  transition: 0.1s all;
}

.admin-panel nav.sideNavClosed{
    min-width: 0px;
    width: 0px;
    overflow: hidden;
}

.admin-panel nav ul{
    list-style: none;
    margin-top: 50px;
    padding: 0;
}

.admin-panel nav ul li a{
    color: #fff !important;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-decoration: none !important;
    @extend %trans;
}

.admin-panel .flexElem{
    display: flex;
    align-items: center;
}

.admin-panel .inlineFlexElem{
    display: inline-flex;
    align-items: center;
}
.flexElem.flexCheckbox{
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.admin-panel .spaceBetween{
    justify-content: space-between;
}
.admin-panel nav{
    max-width: 100%;
}
.admin-panel nav ul li a.hasChild{
    position: relative;
    padding-right: 45px;
}

.display_ib{
    display: inline-block !important;
}

.admin-panel nav ul li a.hasChild:after{
    content: "";
    background: url('../assets/down_arrow.png') no-repeat center;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;

    @extend %trans;
}

.admin-panel nav ul li a.hasChild.open:after{
    transform: rotate(180deg);
}

.admin-panel nav ul li a:hover{
    background-color: $lightColor;
}

.admin-panel nav ul li a img{
    margin-right: 15px;
}

.admin-panel nav+div{
    background: #fff;
    margin: 20px;
    margin-bottom: 0;
    width: 100%;
    padding: 30px;
}

.admin-panel main{
    background: #e9eef3;
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 158px)
}

.admin-panel .inputControl{
    border-radius: 2px;
    border: 1px solid #bebebe;
    padding: 10px;
    width: 245px;
    max-width: 100%;
    outline-color: $lightColor;
    min-height: 3.1rem;
    
    @media (min-width: 992px){
        margin-left: 20px;
    }
}

.admin-panel select.inputControl{
    width: auto;
}

.admin-panel select.inputControl:focus{
    box-shadow: none !important;
    outline: 1px auto $lightColor !important; 
    border-color: none;
}

.inputCalendarIcon{
    background: url(/img/calendar_icon.6622c754.png) no-repeat calc(100% - 15px) center, #fff !important;
    padding-right: 45px !important;
}

.inputEmailIcon{
    background: url('../assets/email_icon.png') no-repeat calc(100% - 15px) center, #fff !important;
    padding-right: 45px !important;
}

.inputPasswordIcon{
    background: url('../assets/password_icon.png') no-repeat calc(100% - 15px) center, #fff !important;
    padding-right: 45px !important;
}

.inputUserIcon{
    background: url('../assets/user_icon.png') no-repeat calc(100% - 15px) center, #fff !important;
    padding-right: 45px !important;
}

.inputLocationIcon{
    background: url('../assets/location_icon.png') no-repeat calc(100% - 15px) center, #fff !important;
    padding-right: 45px !important;
}

.inputPhoneIcon{
    background: url('../assets/phone_icon.png') no-repeat calc(100% - 15px) center, #fff !important;
    padding-right: 45px !important;
}

.customInput.leftIcon{
    background-position: 15px center !important;
    padding-left: 45px !important;
    padding-right: 10px !important;
}

.admin-panel .inputControl.searchIcon{
    background: url('../assets/search_icon.png') no-repeat calc(100% - 15px) center, #fff;
    padding-right: 40px;
}

.admin-panel .inputControl.calendarIcon{
    background: url('../assets/calendar_icon.png') no-repeat calc(100% - 15px) center, #fff;
    padding-right: 40px;
}

.admin-panel .panelHeader{
    justify-content: space-between;
}

.admin-panel .hasChild + ul{
    width: calc(100% - 20px);
    background: $mediumColor;
    margin: 0 0 20px 20px;

    
   li a{
        margin-bottom: 0;
    }
   li+li a{
        border-top: 1px solid $lightColor;
    }
}

#addUpdateCouponModal{
    z-index: 1050 !important;
    font-family: $frontEndFont;
}

 .modal-header{
    background: #fff;
    color: $mediumColor;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

 .modal-body{
    background: #efefef;
    padding-right: 30px;
    padding-left: 30px;
}

 .modal-content{
    border-radius: 0;
    border: none;
}

 .modal-header .close{
    position: absolute;
    right: 14px;
    top: 7px;
    background: $lightColor;
    color: #fff;
    display: inline-block;
    padding: 0px;
    height: 35px;
    width: 35px;
    text-shadow: none;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 35px;
    opacity: 1;
    outline: none;
}

.btnsContainter button{
    margin: 10px;
}

.admin-panel .actionButton{
    padding: 10px 13px;
    border:none;
    background: $mediumColor;
    color: #fff;
    border-radius: 2px;
    font-size: 1rem;
    font-family: inherit;
}

footer .logos p{
    font-size: 0.88rem !important;
}

footer .logos ul{
    max-width: 600px !important;
    margin-bottom: 30px !important;
}

footer .logos ul li{
    max-width: 125px !important;
    margin-right: 5.5% !important;
    margin-left: 0 !important;
}

#mainNav{
    height: auto;
}

.navbar > .container .navbar-brand, .container > .navbar .navbar-brand{
    margin-left: 0.75rem !important;
}

.navbar > .container .navbar-menu, .container > .navbar .navbar-menu{
    margin-right: 0 !important; 
}

.navbar.level{
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin-panel .panelFooter{
    justify-content: space-between;
    margin-top: 20px;

     .footerNav{
        padding: 10px;
        width: 100%;
        max-width: 180px;
        background: #e3e1e5;
        border: none;
        outline-color: $lightColor;
        text-decoration: none;
        text-align: center;
         -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
         border-radius: 2px;
         box-shadow: none;
         outline: inherit;

        @extend %trans;
    }

    select.footerNav{
        padding-top: 0;
        padding-bottom: 0;
    }

     button.footerNav:hover, a.footerNav:hover{
        background: $lightColor;
        color: #fff;
    }

    .footerNav.input{
        width: 100%;
        max-width: 100px;
    }

   .footerNav.input:focus{
        background: #f5f5f5;
    }

   .flexElem{
        flex-basis: 50%;
    }
}

.admin-panel .panelHeading{
    font-size: 30px;
    color: $headingColor;
}

.admin-panel .themeTable, .themeTable{
    border: 1px solid #bebebe;
    width: 100%;
    margin-top: 20px;
}

.admin-panel .numVal{
    color: $linkColor
}

.admin-panel .adminProject > a{
  color: $lightColor;
}

.projectViewContainer{
  display: flex;
  justify-content: space-between;
}

.projectViewContainer .photo-grid .photo{
  height: auto;
  min-height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-img .isMainImg, .setMainImg .isMainImg{
    position: absolute;
    top: 0;
    bottom: 68px;
    left: 0;
    right: 0;
    cursor: pointer;
    background: url('../assets/img_placeholder.png') no-repeat center 25px, rgba(255,255,255,0.7);
    padding-top: 95px;
    color: $mediumColor;
    display: none;
    min-height: 130px;
}

.photo-grid .photo:hover .isMainImg{
    display: block;
}

.photo-grid .main-img{
    position: relative;
}

.projectViewContainer > div:first-child{
  flex-basis: 30%;
  padding-right: 20px;
  border-right: 1px solid #eee;
}
.projectViewContainer > div:last-child{
  flex-basis: 70%;
}

.order-status > span{
    padding: 5px 10px;
    border-radius: 3px;
    background: #999;
    color: #fff;
}

.order-status > span.ordered{
    background: #E88724
}

.order-status > span.completed{
    background: #3ca93c;
}

.order-status > span.printed{
    background: #17a2b8;
}

.order-status > span.abandoned{
    background: tomato;
}

.order-status > span.store{
    background: #E6222B;
}

.admin-panel .themeTable thead, .themeTable thead, .admin-panel .themeTable thead tr th, .themeTable thead tr th{
    font-size: 1.1rem;
    background: $lightColor;
    color: #fff;
}

.admin-panel .themeTable thead tr th, .themeTable thead tr th, .admin-panel .themeTable tbody tr td, .themeTable tbody tr td{
    padding: 10px 20px;
    vertical-align: middle;
}

.admin-panel .themeTable tbody tr:nth-child(even), .themeTable tbody tr:nth-child(even){
    background:#ebe9ef;
}

.admin-panel .themeTable thead tr th, .themeTable thead tr th{
    font-weight: normal;
}

.admin-panel .action{
    display: inline-flex;
    margin: 5px;
    height: 20px;
    width: 24px;
    text-decoration: none;
    @extend %trans;
}

.admin-panel .action:hover{
    opacity: 0.7;
}

.admin-panel .action.action_forward{
    background: url("../assets/actions.png") no-repeat 0px center;
}

.admin-panel .action.action_download{
    background: url("../assets/actions.png") no-repeat -28px center;
}

.admin-panel .action.action_view{
    background: url("../assets/actions.png") no-repeat -62px center;
}

.admin-panel .action.action_delete{
    background: url("../assets/actions.png") no-repeat -97px center;
}

.admin-panel .action.action_cart{
    background: url("../assets/actions.png") no-repeat -128px center;
}

.admin-panel .action.action_edit{
    background: url("../assets/actions.png") no-repeat -160px center;
}

.admin-panel .action.action_excel{
    background: url("../assets/actions.png") no-repeat -190px center;
}

.admin-panel .action.action_email{
    background: url("../assets/actions.png") no-repeat -222px center;
}

.admin-panel .action.action_mozaix{
    background: url("../assets/actions.png") no-repeat -253px center;
}

.admin-panel .action.action_add{
    background: url("../assets/actions.png") no-repeat -284px center;
}

.admin-panel .action.action_copy{
    background: url("../assets/actions.png") no-repeat -313px center;
  }

.admin-panel .action.action_excel:hover, .admin-panel .action.action_mozaix:hover{
    background: url("../assets/actions.png") no-repeat -28px center;
}

.admin-panel footer{
    text-align: center;
    background: #f4f2f8;
    color: #4c6d79;
    padding: 10px;
}

.admin-panel .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

/*Frontend Css*/

.checkout{
    font-family: $frontEndFont;
}

.personalInfo{
    background: #e2dced;
    padding: 20px;

    .columns:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
    
    .price, .innerLink{
        color: $linkColor
    }
}

.innerHeading{
    font-size: large;
}

.priceBoxContainer{
    padding-left: 5vw;
    padding-right: 5vw;
}

.linkColor{
    color: $linkColor;
}

.sideProjectInfo{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.placeOrder{
    background: $pinkColor;
    color: #fff !important;
    text-decoration: none !important;
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    margin-bottom: 20px;
    transition: 0.3s all;
    border-radius: 3px;
}


.placeOrder:hover{
    background: transparentize($pinkColor, 0.2)
}

.placeOrder.primaryColor{
    background: $lightColor;
}

.placeOrderContainer .placeOrder{
    margin-top: 30px;
    max-width: 300px;
    display: inline-block;
}

.projectTitleInput{
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 2px;
    background: #fbfbfd;
    line-height: normal;
}

.instructions > strong {
    color: #333 !important;
}

.instructions ol{
    list-style: none;
    margin-left: 0 !important;
}

.instructions ol li{
    display: flex;
}

.instructions ol li+li{
    margin-top: 10px;
}

.instructions ol li>span:first-child{
    margin-right: 10px;
    display: inline-flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    background: #666;
    color: #fff;
    border-radius: 100%;
}

.instructions ol li:nth-child(1)>span:first-child{
    background: #ab98d0;
}

.instructions ol li:nth-child(2)>span:first-child{
    background: #9ab8d4;
}

.instructions ol li:nth-child(3)>span:first-child{
    background: #98d1a6;
}

.instructions ol li:nth-child(4)>span:first-child{
    background: #d1bf99;
}

.semiBold{
    font-weight: 600;
}

.blueimp-gallery{
    color: #fff;
    font-family: monospace;
}

.popper{
    text-align: left !important;
    padding: 5px 7px !important;
    max-width: 300px;
    white-space: pre-wrap;
}

.flexElem{
    display: flex;
}

.justifyElemBetween{
    justify-content: space-between;
}

.justifyElemAround{
    justify-content: space-around;
}

.innerBoxBordered{
    border: 1px solid #bbb;
    padding: 20px;
}

.customHeading{
    font-size: 2.5rem;
    color: $lightColor;
    margin-top: 10vw;
    margin-bottom: 10px;
}

.innerHeading.acceptedPayments{
    background: url('../assets/payment_methods.png') no-repeat calc(100% - 0px) center;
    padding-right: 127px;
}

.fullWidthRadio{
    width: 100%;
}

.fullWidthRadio .custom-control-label{
    width: 100%;
}

.input.customInput{
    box-shadow: none;
    border-radius: 2px;
    height: 2.8em;
    font-family: $frontEndFont;
    line-height: 2;
    padding: 10px;
}

select.input.customInput{
    padding: 0;
    line-height: 2.7;
    text-indent: 10px;
}

.width_tmp_select{
    display: none;
}

/**
 * Firefox specific rule
 */

 @-moz-document url-prefix() {
    select.input.customInput{
        text-indent: 2px;
    }
  }

.input.customInput.grayBg{
    background-color: #fbfafc;
    border-color: #bbb;
}

.veryLightGrayBg{
    background: #fbfafc;
}

.lightGrayBg{
    background: #eee;
}

.grayBg{
    background: #ccc;
}

.no_count{
    color: $linkColor;
}

.project-grid .project, .project-grid .photo{
    background: #f1f0f4;
    border:none !important;
    position: relative;
    font-family: $robotoFont;
}

.project-grid .project *, .project-grid .photo *{
    font-family: inherit !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5pt;
}

.project-grid .project .thumb_project{
    display: inline-block;
    min-height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

figure .thumb_project{
    background: #000;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.photo>div:first-child{
  height: 130px;
  background: #000;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
figure.photo>div:first-child>img{
  height: auto !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
}

.project-grid .project .thumb_project>img, figure .thumb_project img{
    max-height: 100%;
    max-width: 100%;
}
.photo-grid{
    gap: 15px 4%;
}

.photo-grid .photo{
    height: auto !important;
    padding: 0 !important;
    background: #f1f0f4;
    justify-content: start !important;
}

.photo-grid .main-img{
    border: none !important;
    box-shadow: 0 0 0 2px $pinkColor;
}

.photo-grid .photo{
    position: relative;
}

.photo-grid .photo > span{
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100%;
}

.photo-grid .photo span img{
    max-height: 100%;
    max-width: 100%;
}

.project_action{
    width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    text-decoration: none !important;
}

.project_action:hover{
    -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
    filter: brightness(120%);
}

.edit_project{
    background: url('../assets/edit_project.png') no-repeat center;
}

.view_project{
    background: url('../assets/view_project.png') no-repeat center;
}

.delete_project{
    background: url('../assets/delete_project.png') no-repeat center;
}

.project_action.share_project{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../assets/share_project.png') no-repeat center;
}

.hasSearch{
    position: relative;
}

.hasSearch .searchBtn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: none;
    width: 40px;    
    cursor: pointer;
}

hr.light{
    background: #eee;
    height: 1px;
}

hr.medium{
    background: #ccc;
    height: 1px;
}

hr.dark{
    background: #999;
    height: 1px;
}

.input.focusInput{
    background: transparent;
    border-color: transparent;
}

.input.focusInput:focus{
    background: rgba(255,255,255, 0.5)
}

.alignFlexCenter{
    align-items: center;
}

.customButtonLarge{
    padding: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 1pt;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.customButtonMedium{
    padding: 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 0.7pt;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
}

button.darkColor{
    background: $darkColor;
}
button.darkColor:hover, button.darkColor:focus, button.darkColor:active{
    background: transparentize($darkColor, 0.1);
}

.go_back_admin{
    display: inline-block;
    color: #fff;
    background: $lightColor;
    padding: 10px 20px;
    border-radius: 2px;
    transition: 0.3s all;
}
.go_back_admin:hover{
    background: darken($lightColor, 15%)
}

button.mediumColor{
    background: $mediumColor;
}
button.mediumColor:hover, button.mediumColor:focus, button.mediumColor:active{
    background: transparentize($mediumColor, 0.1);
}

button.lightColor{
    background: $lightColor;
}
button.lightColor:hover, button.lightColor:focus, button.lightColor:active{
    background: transparentize($lightColor, 0.1);
}

.width_200{
    width: 100%;
    max-width: 200px;
}

.blockButton{
    width: 100%;
}

.actionButton.round_big{
    border-radius: 100%;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 42px;
    outline: none !important;
    width: 50px;
    height: 50px;
    font-family: $frontEndFont;
    font-weight: 300;
}

.custom-control-input:checked ~ .custom-control-label::before{
    border-color: $lightColor;
    background-color: $lightColor;
}

.admin-panel .themeTable.fixedLayout, .themeTable.fixedLayout{
    table-layout: fixed;
    width: auto;
    white-space: nowrap;
}

@media (min-width: 991px) {
    .admin-panel nav + div {
        width: calc(100% - 300px);
    }
  .admin-panel nav.sideNavClosed + div {
      transition: 0.3s all;
        width: calc(100% - 40px);
    }
}

@media (max-width: 992px){
    .admin-panel nav{
        min-width: 0px;
        width: 100%;
        min-height: 40vh;
        overflow: hidden;
    }
    .admin-panel nav.sideNavClosed{
        min-width: 0px;
        width: 100%;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    .admin-panel nav + div{
        margin-right: 0;
        margin-left: 0;
    }

    .admin-panel .flexResponsive, .flexResponsive{
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
    }

    .admin-panel .flexResponsive > *, .flexResponsive > *{
        margin-bottom: 20px;
    }

    .admin-panel .inputControl{
        width: 100%
    }
}

@media screen  and (max-width: 786px){
    .checkoutSections .columns>.column.mr-4,.checkoutSections .columns>.column.ml-4{
        margin: 0 !important;
        margin-bottom: 2rem !important;
    }
    
    .project-grid, .photo-grid{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
  
@media screen  and (max-width: 580px){
    .project-grid, .photo-grid{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

  @keyframes slideIn {
    0% {
      margin-top: 2rem;
      opacity: 0;
    }
    100% {
      margin-top:0rem;
      opacity: 1;
    }
    0% {
        margin-top: 2rem;
        opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
        margin-top: 2rem;
        opacity: 0;
      }
      100% {
        margin-top:0rem;
        opacity: 1;
      }
      0% {
          margin-top: 2rem;
          opacity: 0;
      }
  }
  
  .admin-panel .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

  /*Date picker modifications*/
.admin-panel div.datepicker{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4)
}

.admin-panel .datepicker table tr td.active.active, .admin-panel .datepicker table tr td.active.disabled, .admin-panel .datepicker table tr td.active.disabled.active, .admin-panel .datepicker table tr td.active.disabled.disabled, .admin-panel .datepicker table tr td.active.disabled:active, .admin-panel .datepicker table tr td.active.disabled:hover, .admin-panel .datepicker table tr td.active.disabled:hover.active, .admin-panel .datepicker table tr td.active.disabled:hover.disabled, .admin-panel .datepicker table tr td.active.disabled:hover:active, .admin-panel .datepicker table tr td.active.disabled:hover:hover, .admin-panel .datepicker table tr td.active.disabled:hover[disabled], .admin-panel .datepicker table tr td.active.disabled[disabled], .admin-panel .datepicker table tr td.active:active, .admin-panel .datepicker table tr td.active:hover, .admin-panel .datepicker table tr td.active:hover.active, .admin-panel .datepicker table tr td.active:hover.disabled, .admin-panel .datepicker table tr td.active:hover:active, .admin-panel .datepicker table tr td.active:hover:hover, .admin-panel .datepicker table tr td.active:hover[disabled], .admin-panel .datepicker table tr td.active[disabled] {
    background-color: $lightColor;
}

.admin-panel .datepicker table tr td.active, .admin-panel .datepicker table tr td.active.disabled, .admin-panel .datepicker table tr td.active.disabled:hover, .admin-panel .datepicker table tr td.active:hover {
    background-color: $lightColor;
    background-image: -moz-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: -ms-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: -webkit-gradient(linear,0 0,0 100%,from($lightColor),to($mediumColor));
    background-image: -webkit-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: -o-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: linear-gradient(to bottom,$lightColor,$mediumColor);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColor='$lightColor', endColor='#0044cc', GradientType=0);
    border-color: $mediumColor $mediumColor $darkColor;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.admin-panel .datepicker table tr td span.active.active, .admin-panel .datepicker table tr td span.active.disabled, .admin-panel .datepicker table tr td span.active.disabled.active, .admin-panel .datepicker table tr td span.active.disabled.disabled, .admin-panel .datepicker table tr td span.active.disabled:active, .admin-panel .datepicker table tr td span.active.disabled:hover, .admin-panel .datepicker table tr td span.active.disabled:hover.active, .admin-panel .datepicker table tr td span.active.disabled:hover.disabled, .admin-panel .datepicker table tr td span.active.disabled:hover:active, .admin-panel .datepicker table tr td span.active.disabled:hover:hover, .admin-panel .datepicker table tr td span.active.disabled:hover[disabled], .admin-panel .datepicker table tr td span.active.disabled[disabled], .admin-panel .datepicker table tr td span.active:active, .admin-panel .datepicker table tr td span.active:hover, .admin-panel .datepicker table tr td span.active:hover.active, .admin-panel .datepicker table tr td span.active:hover.disabled, .admin-panel .datepicker table tr td span.active:hover:active, .admin-panel .datepicker table tr td span.active:hover:hover, .admin-panel .datepicker table tr td span.active:hover[disabled], .admin-panel .datepicker table tr td span.active[disabled] {
    background-color: $lightColor;
}

.admin-panel .datepicker table tr td span.active, .admin-panel .datepicker table tr td span.active.disabled, .admin-panel .datepicker table tr td span.active.disabled:hover, .admin-panel .datepicker table tr td span.active:hover {
    background-color: $lightColor;
    background-image: -moz-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: -ms-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: -webkit-gradient(linear,0 0,0 100%,from($lightColor),to($mediumColor));
    background-image: -webkit-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: -o-linear-gradient(to bottom,$lightColor,$mediumColor);
    background-image: linear-gradient(to bottom,$lightColor,$mediumColor);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColor='$lightColor', endColor='#0044cc', GradientType=0);
    border-color: $mediumColor $mediumColor $darkColor;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
.field_error {
    border-color: red !important;
}
.loaderOpen{
    overflow-y: hidden;
}
.section .form-wrap{
    max-width: 363px;
}
.inputControl.datepicker.calendarIcon {
    cursor: pointer;
}
@import 'circle';
.skill_container {
    display: inline-block;
    text-align: center;
}

.skill_container .c100 {
    display: inline-block;
    float: none;
}

.full_loader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index:1000;
}

.skill_container .skill_name {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}
.strong{
    font-weight: bold !important;
}

.normal{
    font-weight: 500 !important;
}

.medium{
    font-weight: 600 !important;
}
.noTextBreak{
    white-space: nowrap !important;
}

#shareCodeModal+.modal-backdrop, #shippedSlipModal+.modal-backdrop{
    z-index: 1;
}
.admin-panel .customerDetailData .column .flexElem>div:first-child{
    font-weight: bold;
    margin-right: 10px;
}

.printTable tr td{
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

@media print {
    @page  {
        background: #efefef !important;
        size: a4;
        margin: 0;
        padding: 0;
    }
    body, body #shippedSlipModal___BV_modal_outer_ .modal-header{
        background: #efefef !important;
    }
    body > *, body #shippedSlipModal___BV_modal_outer_ .modal-header .close, body #shippedSlipModal___BV_modal_outer_ .text-center{
        display: none !important;
        background: #efefef !important;
    }
    body #shippedSlipModal___BV_modal_outer_{
        display: block !important;
        background: #efefef !important;
    }
    body #shippedSlipModal___BV_modal_outer_ div{
        width: 100% !important;
        max-width: 100% !important;
        background: #efefef !important;
    }
    body #shippedSlipModal___BV_modal_outer_ .modal-content, body #shippedSlipModal___BV_modal_outer_ .modal-card{
        width: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
        background: #efefef !important;
    }
}

.nav-icon {
    margin: 0 1em;
    width: 100%;
    max-width: 30px;
    cursor: pointer;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 2px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }

.nav-icon.closed:before {
    transform: translateY(9px) rotate(135deg);
  }
  
  .nav-icon.closed:after {
    transform: translateY(-9px) rotate(-135deg);
  }
  
  .nav-icon.closed div {
    transform: scale(0);
  }

.grab-bing {
  cursor : -webkit-grab;
  cursor : -moz-grab;
  cursor : -o-grab;
  cursor : grab;
}


.grab-bing:active {
  cursor : -webkit-grabbing;
  cursor : -moz-grabbing;
  cursor : -o-grabbing;
  cursor : grabbing;
}
